/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}

ol, ul {
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, textarea, select {
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}

textarea {
	overflow:auto;
	resize:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:14px;
	line-height:21px;
	color:#9FB1B2;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#212b2d;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	margin-bottom:15px;
}

h2 {
	font-size:25px;
	margin-bottom:15px;
}

h3 {
	font-size:18px;
	margin-bottom:15px;
}

h4 {
	font-size:16px;
	margin-bottom:15px;
}

h5 {
	font-size:14px;
	margin-bottom:15px;
}

h6 {
	font-size:12px;
	margin-bottom:15px;
}

iframe {
    width:100%;
    height:500px;
}

p {
    padding-right: 5px;
}
	/*  links
	******************************/
	a {color: #81c266;text-decoration: underline;}
	a:hover {color: #81c266;text-decoration: none;}

	/*  superscript and subscript
	******************************/
	sup, sub {vertical-align: baseline;position: relative;top: -0.4em;}
	sub { top: 0.4em; }
	
	/*  lists
	******************************/
	ul, ol {
	    padding:5px;
	    margin:0;
	}
	ul li {
	    list-style-type:disc;
	}
	ol li {list-style-type:decimal;}
	ul li,
	ol li {font-size: 14px; line-height: 21px;margin: 0 0 0px 10px;}

	/*  tables
	******************************/
	table,th,td {border:0px;}
	th {padding:3px; font-weight:bold;color:#81c266;}
	tr {margin:0 0 5px 0;padding:3px;}
	td {
	    padding:5px;
	    margin:0 1px;
	    vertical-align:top;
	}
	
	/*  horizontal lines
	******************************/
	hr {border-bottom: 1px solid #5F6C73;margin:5px 0;padding:0;height:2px;width:100%; margin-bottom:10px;}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}

#wrapper {
	width:900px;
	margin:0 auto;
	padding:20px 0 10px 0;
}

/*----start header----*/
#header {
	padding:0px 0px 20px;
}

#header .top_banner{
	background-color:#38575c;
	height:100px;
	padding:20px 95px 0 95px;
	border:#6C8286 solid 1px;
	margin-bottom:10px;
}

#header h1{
	font-size:32px;
	color:#c3dae0;
	margin:0px;
	padding:0px 0px 5px;
}

#header h1 a {
	color:#c3dae0;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
}

#header p{
	font-size:16px;
	margin-left:1px;
	color:#c3dae0;
}

.navigation{
	margin-bottom:5px;
	padding:13px 5px;
	background: #333d3f; 
}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 35px;
	display:inline;
	font-size:14px;
	list-style-type:none;
	border-right:#91969a dotted 1px; 
}

.navigation ul li a{
	color:#F5F5F5;
	text-decoration:none;
}

.navigation ul li a:hover{
	text-decoration:underline;
}

.navigation ul li:last-child {
	border-right:none;
}
/*----end header----*/


/*----start page content----*/
#page_content{
	padding:0px 0px 20px;
}

#page_content .right_section{
	width:650px;
	float:right;
}

#page_content .right_section .top_content{
	padding:15px 0 0px 0;
}

#page_content .right_section .top_content .column_one{
	width:300px;
	float:left;
	margin-bottom:20px;
}

#page_content .right_section .top_content .column_two{
	width:300px;
	float:right;
	margin-bottom:20px;
}

a.btn{
	color:#0a0800;
	font-size:12px;
	text-decoration:none;
	padding:6px 13px 6px 13px;
	font-weight:bold;
	display:inline-block;
	border:#566568 solid 1px;
	background-color:#97aaae;
}

a.btn:hover{
	text-decoration:none;
}

.common_content{
	padding:0 0 20px 0;
}

.border_left{
	border-left:#6e7678 dotted 1px;
	padding-left:20px;

}

.border_none{
	border:none!important;
	margin:0px!important;
}

.left_side_bar{
	width:210px;
	float:left;
}

.left_side_bar h1{
	font-size:20px;
	padding:0 0 0 2px;
	font-weight:bold;
	margin-bottom:15px;
	color:#9aacae;
}

.left_side_bar .col_1{
	padding:0px 0 20px 0;
}

.left_side_bar .col_1 .box{
	padding:10px 15px 5px;
	border:#283032 solid 1px;
}

.left_side_bar .col_1 .box ul{
	margin:0px;
	padding:0px;
}

.left_side_bar .col_1 .box ul li{
	margin:0px 0px 8px;
	padding:0px 0px 0px 15px;
	font-size:13px;
	list-style-type:none;
	background:url(../images/li.png) no-repeat left center;
}

.left_side_bar .col_1 .box ul li a{
	color:#9aacae;
	text-decoration:underline;
}

.left_side_bar .col_1 .box ul li a:hover{
	color:#9aacae;
	text-decoration:none;
}
/*----end page content----*/


/*----start footer content----*/
#footer{
	clear:both;
	margin-top:18px;
	padding:15px 0 0px 0;
	height:25px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:19px;
	border-top:#525b60 solid 1px;
}

#footer a{
	color: #81c266;
	text-decoration:none;
}

#footer a:hover{
	color: #81c266;
	text-decoration:underline;
}

/*----end footer content----*/
